<div class="trust-badge">
    <img src="https://cdn.shopify.com/s/files/1/0704/7905/3106/files/trust.jpg?v=1733039686" alt="Trust Badge">
</div>
<style>
.trust-badge {
    margin: 0px !impotant; /* Adjust the spacing as needed */
}

.trust-badge img {
  max-width: 100%;
  height: auto;
}
</style>