<div class="collection grid">
  
</div>
{% schema %}
  {
    "name": "Block name",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Choose Collection"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Custom text"
      }
    ]
  }
{% endschema %}