<div class="collection grid">
  {% assign  product = block.settings.collection %}
  <ul>
    <li>
              {% render 'card-product',
              card_product: product,
              media_aspect_ratio: section.settings.image_ratio,
              image_shape: section.settings.image_shape,
              show_secondary_image: section.settings.show_secondary_image,
              show_vendor: section.settings.show_vendor,
              show_rating: section.settings.show_rating,
              skip_styles: skip_card_product_styles,
              section_id: section.id,
              quick_add: section.settings.quick_add
            %}
    </li>
  </ul>
</div>
{% schema %}
  {
    "name": "Block name",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Choose Collection"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Custom text"
      }
    ]
  }
{% endschema %}