<div class="collection grid">
  {% assign  product = block.settings.collection.products %}
  <ul>
    <li>
              {% render 'card-product',
              card_product: product,
            %}
    </li>
  </ul>
</div>
{% schema %}
  {
    "name": "Block name",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Choose Collection"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Custom text"
      }
    ],
    "presets": [
      {
        "name": "tab block"
      }
    ]
  }
{% endschema %}