<div class="collection grid">
  {% assign  product = section.settings.collection %}
 <h2>{{ section.settings.text }}</h2>
  <ul>
    
    {% for product in product %}
    <li>
              {% render 'card-product',
              card_product: product,
            %}
    </li>
    {% endfor %}
  </ul>
</div>
{% schema %}
  {
    "name": "Collection Grid",
    "settings": [
       {
        "type": "collection",
        "id": "collection",
        "label": "Choose Collection"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Custom text"
      }
    ],
    "presets": [
      {
        "name": "Collection Grid"
      }
    ]
  }
{% endschema %}