<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<div class="main_cover">
  {% content_for 'blocks' %}
</div>
{% schema %}
  {
    "name": "block section",
    "blocks": [{"type": "@app"},{"type": "@theme"}],
    "settings": [],
   "presets": [
     {
       "name": "blocks"
     }
   ]
  }
{% endschema %}

<script>
  $(document).ready(function () {
   $('.main_cover').slick({
  infinite: true,
  slidesToShow: 1,
  slidesToScroll: 1,
  dots:true
});
  });
</script>