#SortBy option {
    color: initial;
}
#SortBy{
    color: red;
}
.qty {
    font-size: 14px;
    font-weight: 500;
    color: #ff706b;
}
.header:not(.drawer-menu).page-width
{
  max-width:100%;
}
slideshow-component .slideshow.banner {
    scroll-snap-type: none !important;
    scroll-behavior: auto !important;
}
.product__info-container .product__description{
  margin:unset !important;
}
/* @keyframes fadeIn {
    0% { opacity: 1; }
    100% { opacity: 1; }
} */

/* @keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 1; }
} */

/* slideshow-component .slideshow.banner [aria-hidden="false"] {
    animation: fadeIn 2000ms, fadeOut 4000ms 4800ms;
    transition: opacity 4000ms ease-in-out;
} */
.header.active {
    background-color: #eecea8;
    width:100%;
}

/* ========Slide Show-============= */
.banner__buttons {
    z-index: 99999;
}
a.shopnow_text.button--primary {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
span.arrow_svg {
    vertical-align: text-top;
    padding-left: 10px;
}
.slideshow__controls.slider-buttons.slideshow__controls--border-radius-mobile {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%, -50%);
}

span.dot {
    border: 1px solid #fff !important;
    width: 42px !important;
    height: 2px !important;
    background-color: #000 !important;
}
